
@{
    ViewData["Title"] = "Index";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Telefon Rehberi Uygulaması</h1>
    <p class="lead">Bu uygulama Asp.net Mvc Core 2.2 kullanılarak Cengiz ATİLLA tarafından örnek bir uygulama olması amacı ile yazılmıştır.</p>
    <input type="button" value="Yeni Kayıt Ekle" class="btn btn-success" />
</div>
<div class="card-deck mb-3 text-center">

</div>

